<!DOCTYPE html>
<html>
<head>
    <title>Список дел</title>

    <style>

        body {
            font-family: Arial;
            margin: 40px;
            background-color: #f2f2f2;
        }

        h1 {
            color: blue;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin: 15px 0;
        }

        .done {
            text-decoration: line-through;
            color: gray;
        }

        button {
            margin-left: 5px;
        }

    </style>
</head>

<body>

    <h1>Мои задачи</h1>

    <ul>

        {% for task in tasks %}

        <li>

            {% if task.done %}

                <span class="done">
                    {{ task.text }}
                </span>

            {% else %}

                <span>
                    {{ task.text }}
                </span>

            {% endif %}

            <a href="/done/{{ loop.index0 }}">
                Выполнено
            </a>

            <a href="/delete/{{ loop.index0 }}">
                Удалить
            </a>

           <button onclick="editTask({{ loop.index0 }}, '{{ task.text }}')">
    Редактировать
</button>

        </li>

        {% endfor %}

    </ul>

    <h2>Добавить задачу</h2>

    <form method="POST" action="/add">

        <input
            type="text"
            name="task"
            placeholder="Новая задача"
            required
        >

        <button type="submit">
            Добавить
        </button>

    </form>
<script>

function editTask(taskId, oldText) {

    let newText = prompt(
        "Редактировать задачу:",
        oldText
    );

    if (newText && newText.trim() !== '') {

        fetch('/edit/' + taskId, {

            method: 'POST',

            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },

            body: 'new_text=' + encodeURIComponent(newText)

        })

        .then(() => {
            location.reload();
        });

    }
}

</script>
</body>
</html>